# Don't track object files (and other build artifacts).
o
!o/includes/_what_is_this.txt
# Don't track the executable.
ex
# Don't track game assets.
assets
# Don't track demos.
demos/*.bin 
# Don't track logs.
sup.log
sup_list.supp
valgrind_log.txt

# Ignore environment-workaround cruft.
env
env.nix
o/includes/*.h
